HHRU_CLIENT_ID=
HHRU_CLIENT_SECRET=
HHRU_AUTH_CODE=
HHRU_ACCESS_TOKEN=
HHRU_REFRESH_TOKEN=
HHRU_EXPAIR_IN=
HHRU_REDIRECT_URI=http://example.com

HHRU_EMPLOYER_ID=
HHRU_MANAGER_ID=

HHRU_USER_AGENT=MyApp/1.0 (my-app-feedback@example.com)